{% extends "layout.html" %}

{% block title %}Editor{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/material-darker.min.css">
{% endblock %}

{% block content %}
    <h1>Edit File: {{ path }}</h1>
    <form class="editor-form" action="{{ url_for('save_file', user_id=user_id, bot_index=bot_index) }}" method="post">
        <input type="hidden" name="path" value="{{ path }}">
        <textarea id="code-editor" name="content">{{ content }}</textarea>
        <div class="editor-actions">
            <a href="{{ url_for('file_manager_index', user_id=user_id, bot_index=bot_index) }}" class="btn">Cancel</a>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/python/python.min.js"></script>
<script>
    CodeMirror.fromTextArea(document.getElementById('code-editor'), {
        lineNumbers: true,
        mode: 'python',
        theme: 'material-darker',
        lineWrapping: true
    });
</script>
{% endblock %}
